/* the */
body{
    background-color: rgba(44, 126, 44, 0.89);
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}
  
.gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}
  
#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
  #image-overlay img {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}
  
#overlay-caption {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}
  